# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# Django migrations
*/migrations/*

# Static files
staticfiles/

# Local development settings
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db